body {
    font-family: sans-serif;
}
.sk{
     background: linear-gradient(45deg,#FF0000, #FF4900, #FF6700,#FF7F00,#FF9500);
     background-size: 200%;
     animation: gradient 30s linear infinite;
     padding: 3px;
     border-radius: 7px;
}
@keyframes gradient{
     0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}
.btn{
    background: linear-gradient(45deg,#1C0772,#3E13AF ,#5D2DCB,#A183E5);
    text-decoration: none;
    background-size: 200%;
    color: white;
    border-radius: 7px;
    margin: 6px;
    padding: 7px;
}    
.btn:hover{
 animation: gradient 3s linear infinite;
}
header{
    background: linear-gradient(45deg,#3E13AF, #1C0772,#4212AF);
    border-radius: 7px;
}
.logo{
    border: 2px solid #1C0772;
    border-radius: 6px;
}


nav{
    padding: 18px;
}

h1{
    text-align: center;
}
main{
  background: linear-gradient(45deg,#3E13AF, #1C0772,#4212AF);
    border-radius: 7px; 
    color: white; 
}
.pppp{
    background: linear-gradient(45deg,#FF0000, #FF4900, #FF6700,#FF7F00,#FF9500);
     background-size: 200%;
     animation: gradient 30s linear infinite;
     border-radius: 7px;
     border: 3px solid white;
}
.btn-blue{
     background: linear-gradient(45deg,#FF0000, #FF4900, #FF6700,#FF7F00,#FF9500);
     background-size: 200%;
     border-radius: 7px;
     border: 1px solid white;
     color: white;
     text-decoration: none;
     padding: 3px;
}
.btn-blue:hover{
    animation: gradient 30s linear infinite;
}
.ppp{
    text-align: centre;
}
footer{
    background: linear-gradient(45deg,#3E13AF, #1C0772,#4212AF);
    color: white;
    border-radius: 7px;
}
footer p{
   border: 3px solid white;
   border-radius: 4px;
}
body{
    background: linear-gradient(45deg,#09001F,#08001C,#050012);
     background-size: 200%;
     animation: gradient 30s linear infinite;
     padding: 3px;
     border-radius: 7px;
}
select{
    padding: 6px;
     border-radius: 7px;
    background: linear-gradient(45deg,#FF0000, #FF4900, #FF6700,#FF7F00,#FF9500);
     background-size: 200%;
     animation: gradient 30s linear infinite;
}
